<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="application.css">
   </head>
<body>

<% if user_signed_in? %> 
<nav> 
    <div class="menu">
      <div class="logo">
        <a href="#">Blogs</a>
      </div>
      
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Articles</div>
    <p style="color:white;">Our blog has <%= Article.public_count %> articles and counting!</p>
    
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li> 
            <h1 style="color:white;">
              <div class="btns">
                <button><%= link_to article.title, article%></button>
              </div>                 
            </h1>
          </li>
        <% end %>  
      <%end%>
    </ul>

      <h2 style="color:white;">
        <div class="btns">
          <% if current_user.has_role?(:admin) %>
            <button><%= link_to "New Article", new_article_path %></button>
          <% end %>
        </div>                 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      </h2>
    
    
    

  </div>
 
<% else %>
  <div class="center">
    <div class="btns">
      <%= button_to "Sign in", new_user_session_path %> 
    </div>
  </div>
<% end %>
  
  
</body>
</html>



